
{% for block in section.blocks %}
 <h1>{{block.settings.question}}</h1>
 <p>{{block.settings.answer}}</p>
{% endfor %}
{% schema %}
  {
    "blocks": [{
      "type": "QAs",
      "name": "Question/Answer",
      "settings": [
        {
        "type": "text",
        "label": "Customer Questions",
        "id": "question"
        },
        {
        "type": "richtext",
        "label": "answers",
        "id": "answer"
        }]
  }]
}
 {% endschema %}
